<div class="navigation row">
  <div class="col-sm-12">
    <div class="flex-container box-shadow overflow-x-auto">
      <a class="navigation-link" href="#"><div class="navigation-item">Camping</div></a>
      <a class="navigation-link" href="#"><div class="navigation-item">Konzept</div></a>
      <a class="navigation-link" href="#"><div class="navigation-item mid">Home</div></a>
      <a class="navigation-link" href="#"><div class="navigation-item">Über&nbsp;uns</div></a>
      <a class="navigation-link" href="#"><div class="navigation-item">Impressum</div></a>
    </div>
  </div>
</div>
