{% assign text = site.data.locale[include.lang] %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>IsarCamp</title>
  <link href="https://fonts.googleapis.com/css?family=Bungee|Raleway" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
</head>
